@model ContactViewModel

<h1>Send a message</h1>

<form method="post" asp-action="ContactPage" asp-controller="Contact">

    <p>

    <p> <label asp-for="SenderEmail"></label>  <span style="color:red;">*</span></p>
    <p><span asp-validation-for="SenderEmail" style="color:red;"></span></p>
    <input asp-for="SenderEmail"/>

    </p>


    <p>

    <p> <label asp-for="Subject"></label>  <span style="color:red;">*</span></p>
    <p><span asp-validation-for="Subject" style="color:red;"></span></p>
    <input asp-for="Subject"/>

    </p>
    <p>

    <p>  <label asp-for="Message"></label> <span style="color:red;">*</span> </p>
    <p><span asp-validation-for="Message" style="color:red;"></span></p>
    <textarea cols="50" rows="10" asp-for="Message"></textarea>


    </p>
    <p>

        <button type="submit" class="add-btn">Send</button>
    </p>
</form>