@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="Intro">
        <img src="~/Images/Adaeze.jpeg" />
        
        <h2>Adaeze Uzo-Nwosu</h2>
        <br />
        <h3>Software Engineer  </h3>
        <p> I am proficient in using .Net framework,  SQL, C#, React, HTML, CSS and Js</p>
    </div>
    
    
</div>

